Variable assignments: Variables assignments in python are dynamically typed meaning that a variable once assigned to a value can be reassingned again to another value but in a language with static typing like c++ this would error out since dynamic typing is not enabled in that language.

Pros of Dynamic typing:
Easy to work with
Faster development time

Cons:
May result in bugs for unexpected data types
you need to be aware of type()

In [3]:
my_dogs = 1;

In [4]:
a = 5

In [5]:
a

5

In [7]:
a = 10

In [8]:
a

10

In [9]:
a+a

20

In [10]:
a

10

In [18]:
a = a + a

In [19]:
a

320

In [20]:
type(a)

int

In [21]:
a = 30.1

In [1]:
type(a)

NameError: name 'a' is not defined

In [2]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [3]:
my_taxes

10.0

# Strings

Strings are ordered sequences. So we can index and slice strings to grab sub sections. 

Indexing notation uses [ ] notation after the string

Indexing allows us to grab characters from the string

   Character : h  e  l  l  o
       Index : 0  1  2  3  4
ReverseIndex : 0 -4 -3 -2 -1

Slicing:

Slicing allows us to grab a sub section of the mutiple characters:
Syntax:
 [start:stop:step]
 
Start is the numerical index for the slice start
Stop is the index you will go upto (but not include)
Step is the size of the "jump" you take.

In [4]:
'hello'

'hello'

In [5]:
"world"

'world'

In [6]:
" this is also a string"

' this is also a string'

In [7]:
'I'm going on a run'

SyntaxError: invalid syntax (<ipython-input-7-0b29964ddaa6>, line 1)

In [8]:
"I'm going on a run"

"I'm going on a run"

In [9]:
print('hello')

hello

In [10]:
"hello world one"
"hello world two"

'hello world two'

In [13]:
print("hello world one") 
print("hello world two")

hello world one
hello world two

escapce sequcnes allow special commands in strings

\n = new line
\t = tab (4 spaces)

len() - allows to check the length of the string

In [16]:
print('hello \nworld')

hello
world

In [17]:
print('hello \tworld')

hello 	world

In [18]:
len('I am')

4

In [20]:
len("hello")

5

In [1]:
mystring = "Hello World"

In [2]:
mystring

'Hello World'

In [3]:
mystring[0]

'H'

In [4]:
mystring[8]

'r'

In [5]:
mystring[9]

'l'

In [7]:
mystring[-2]

'l'

Slicing:

Slicing is grabbing a subsection of the string.

In [8]:
mystring='abcdefghijk'

In [9]:
mystring[2:]

'cdefghijk'

In [10]:
mystring[:3]

'abc'

In the above example for the stop index, we would need to go upto but not include the index position. That is d is at index position 3. So the format would go upto c but not include d.

Lets try to grab the following:
1. def from mystring
2. bc from mystring
3. grab ab and jk and stitch them together

In [11]:
mystring[3:6]

'def'

In [12]:
mystring[1:3]

'bc'

In [14]:
mystring1 = mystring[0:2]
mystring2 = mystring[9:]
mystring3 = mystring1 + mystring2
print(mystring3)

abjk

Step Size: 
Format would be [start:stop:stepsize]
    We can use mystring[::] - this would mean the whole string, going all the way from the beginning to the end.

In [15]:
mystring[::]

'abcdefghijk'

In [16]:
mystring[::2]

'acegik'

In [17]:
mystring[::3]

'adgj'

In [18]:
mystring[2:7:2]

'ceg'

This can be used to reverse a string:

In [19]:
mystring[::-1]

'kjihgfedcba'

In [22]:
mystring3 = "tinker"

In [24]:
mystring3[1:4]

'ink'

String properties and string methods**

1. String immutability - Means that the value assigned to a string cannot change

In [1]:
name = "Sam"

In [9]:
name[0] = 'P'

TypeError: 'str' object does not support item assignment

Strings cannot be changed, they can be altered using slicing/concatenation

2. String concetenation - Plus and multiply can be used for string concatenation and multiplication

In [11]:
last_letters = name[1:]

In [12]:
last_letters

'am'

In [13]:
'P' + last_letters

'Pam'

In [14]:
x = 'Hello World'

In [16]:
x + " it is beautiful outside"

'Hello World it is beautiful outside'

In [17]:
x = x+ " it is beautiful outside"

In [18]:
x

'Hello World it is beautiful outside'

In [19]:
'2' + '3'

'23'

String methods - there are existing string methods that are available by default

In [20]:
x = 'Hello World'

In [21]:
x.upper()

'HELLO WORLD'

In [22]:
x.lower()

'hello world'

In [23]:
x.split()

['Hello', 'World']

In [24]:
x = 'Hi this is a string'

In [26]:
x.split("i")

['H', ' th', 's ', 's a str', 'ng']

In [28]:
print('hello')

hello

1. Are strings mutable?

Strings are not mutable! (meaning you can't use indexing to change individual elements of a string)

2. How do I create comments in my code?

You can use the hashtag # to create comments in your code

String interpolation - Insert a variable into a string

We would be exploring two methods for this:
1) .format() method
2) f-strings (formatted string literals)

Formatting with the .format() method

A good way to format objects into your strings for print statements is with the string .format() method. The syntax is:

'String here{} then also {}.format('something1','something2')

In [29]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [30]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [33]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [38]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

Float formatting follows "{value:width.precision f}"

In [40]:
result = 100/777

In [52]:
result = 104.12345

In [53]:
print("The result was {}".format(result))

The result was 104.12345

In [54]:
print("The result was {r}".format(r = result))

The result was 104.12345

In [55]:
print("The result was {r:1.5f}".format(r = result))

The result was 104.12345

2) f-strings (formatted string literals)

In [56]:
name = "Jose"

In [58]:
print(f'Hello, his name is {name}')

Hello, his name isJose

In [59]:
name = "Same"
age = 3

In [60]:
print(f'{name} is {age} years old.')

Same is 3 years old.