### Iterating through Lists

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [9]:
#Ex1
for num in mylist:
    print (num)

1
2
3
4
5
6
7
8
9
10

In [11]:
#Ex2
for num in mylist:
    print ('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [18]:
for num in mylist:
    if num%2==0:
    #check for even
        print (num)
    else:
        print('{} is Odd number'.format(num)) #insert type of printing
        print(f'Odd Number: {num}') # f string literal type of printing

1 is Odd number
Odd Number: 1
2
3 is Odd number
Odd Number: 3
4
5 is Odd number
Odd Number: 5
6
7 is Odd number
Odd Number: 7
8
9 is Odd number
Odd Number: 9
10

In [14]:
#get list of odd numbers
for num in mylist:
    if num%2!=0:
        print(num)
    #check for odd

1
3
5
7
9

In [23]:
##Sum of two numbers

sum = 0
for num in mylist:
    sum = sum+num

print(sum)

55

### Iterating through Strings

In [25]:
#Iterate through a string:

mystring = 'Hello World'

for letter in mystring:
    print (letter)

H
e
l
l
o

W
o
r
l
d

In [26]:
#Now we can do the same without reassigning the variable:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [27]:
#Now as we advance through python we can use '_' in place of the variable letter

for _ in 'Hello world':
    print(_)

H
e
l
l
o

w
o
r
l
d

### Iterating through tuple

In [28]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

###Tuple Unpacking

In [32]:
mylist = [(1,2),(3,4),(4,5),(7,8)]

In [33]:
len(mylist)

4

In [34]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(4, 5)
(7, 8)

In [40]:
for a,b in mylist: # this is tuple unpacking
    print(a)
    print(b)
    
#this is very useful in python as many functions return outputs as tuples inside lists

1
2
3
4
4
5
7
8

In [41]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [44]:
for a,b,c in mylist:
    print(c)
    print(a)

3
1
6
4
9
7

### Iterating through Dictionaries

In [50]:
d = {'k1':1,'k2':2,'k3':3}

for item in d: #this is to iterate through the items
    print(item)

k1
k2
k3

In [56]:
d = {'k1':1,'k2':2,'k3':3}

for item in d.items(): #this is to iterate through all items(both key and value)
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [57]:
d = {'k1':1,'k2':2,'k3':3}

for item in d.values(): #this is to iterate through the values
    print(item)

1
2
3

In [58]:
d = {'k1':1,'k2':2,'k3':3}

for item in d.keys(): #this is to iterate through the keys
    print(item)

k1
k2
k3

### While Loops

In [63]:
x = 5

while x <5:
    print(f'the current value of x is {x}')
    x += 1 #same as x = x+1
    
else:
    print("X is not less than 5")

X is not less than 5

### Break, continue and Pass

break: breaks out of the current closest eclosing loop

continue: Goes to the top of the closet enclosing loop

pass: Does nothing at all

In [65]:
#Example for pass
X = [1,2,3]

for item in X: #the pass keyword is used as a placeholder and avoids throwing errors
    #comment
    pass

print('end of my script')

In [70]:
#Example for continue

mystring = 'Sammy'

for letter in mystring:
    if letter == 'a': #so if the letter is equal to a then we goto the top of the closest enclosing loop
        continue
    print(letter)

S
m
m
y

In [72]:
#Example for break

mystring = 'Sammy'

for letter in mystring:
    if letter == 'a': #so if the letter is equal to a then we break out to the closent enclosing loop
        break
    print(letter)

S

In [ ]:
## Using break with while statements

x = 0

while x<5:
    if x==2:
        continue
    print(x)
    x=x+1

### Useful operators in Python:

**1. Range Function**
**2. Enumerate Function**

**1. Range Function**

mylist = [1,2,3]

As generating lists is such a common thing to do in python. We can use the range function to do it.

for num in range() ##the arguments for range can be in the form of [start:stop(but not including):step]

In [9]:
for num in range(3,5): 
    print (num)

3
4

In [11]:
for num in range(0,11,2): 
    print (num)

0
2
4
6
8
10

In [18]:
#so range(0,11,2) is a generator

mylist = list(range(0,11,2)) #we need to cast the range generator to a variable to get the value from it

#generator will generate the list instead to storing it in memory

print(mylist)

[0, 2, 4, 6, 8, 10]

**2. Enumerate Function**

In [38]:
#taking an example without enumerate
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [39]:
#Working on the same above function with enumerate

index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count+=1

#Now as the above task is very common in python, the enumerate keyword was made

a
b
c
d
e

In [40]:
word = 'abcde'

for index,letter in enumerate(word): #so enumerate returns the count/index and the object itself
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

**3. Zip generator**

This generator zips two lists together

In [42]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [46]:
mylist3 = list(zip(mylist1,mylist2))

In [47]:
mylist3 #again this returns back tuples and they can be unpacked

[(1, 'a'), (2, 'b'), (3, 'c')]

In [48]:
#Now if there is a list that has more content for example:
mylist1 = [1,2,3,4,5,6,7,7,8,9,9]
mylist2 = ['a','b','c']

mylist4 = list(zip(mylist1,mylist2))

In [49]:
mylist4

[(1, 'a'), (2, 'b'), (3, 'c')]

**4. The 'in' keyword**

In [51]:
'x' in [1,2,3] #checks if x is in the given list and returns boolean

False

**5. Min and max keywords**

In [53]:
mylist = [10,20,30,40,50]

In [54]:
min(mylist)

10

In [55]:
max(mylist)

50

**6. Using the random library**

1. Import a function from the library

In [69]:
from random import shuffle

In [70]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [71]:
random_list = shuffle(mylist)

In [73]:
type(random_list)

NoneType

In [74]:
from random import randint

In [75]:
randint(0,100)

90

In [76]:
randint(0,100)

85

In [79]:
mynum = randint(0,100)

### List comprehensions

In [81]:
mystring = 'hello'

In [82]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [83]:
mylist

['h', 'e', 'l', 'l', 'o']

In [86]:
mylist = [letter for letter in mystring] #flattened out for loop

In [87]:
mylist

['h', 'e', 'l', 'l', 'o']

In [90]:
mylist = [x for x in 'wordtwo']

In [91]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [95]:
#get a range using list comprehensions
num = [ x for x in range(0,11)]

In [96]:
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [99]:
#get a sqaure of a range of numbers using list comprehensions
num = [ x**2 for x in range(0,11)]

In [100]:
num

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [102]:
#get only square of the even numbers in a range using list comprehensions. Remember the if comes at last

mylist = [x**2 for x in range(0,11) if x%2==0]

In [103]:
mylist

[0, 4, 16, 36, 64, 100]

In [111]:
#convert celcius to farenheit using list comprehension

celcius = [0,10,20,30,40.5]

farenheit = [((9/5)*temp+32) for temp in celcius]

In [112]:
farenheit

[32.0, 50.0, 68.0, 86.0, 104.9]

In [114]:
farenheit= []

for temp in celcius:
    farenheit.append(((9/5)*temp+32))

In [115]:
farenheit

[32.0, 50.0, 68.0, 86.0, 104.9]

In [116]:
#How to use if else statement inside of a list comprehension

In [119]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)] #
#point to be noted would that in case we use only if statement, then the if statement comes in the end of the list comprehension
#and the if-else statement togther when used comes at the beginning of the statement

In [120]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [124]:
#We can also do nested loop in a list comprehension.
#Below is a nested loop

#In the below example we will be taking a list and multiplying each value in
#that list with another value

mylist = []

for x in [2,4,6]:#take one number from here
    for y in [1,10,1000]: #multiply it with each of the numbers from here
        mylist.append(x*y)

In [125]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [126]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [127]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]