# Comparison Operators 

In this lecture we will be learning about Comparison Operators in Python. These operators will allow us to compare variables and output a Boolean value (True or False). 

If you have any sort of background in Math, these operators should be very straight forward.

First we'll present a table of the comparison operators and then work through some examples:

<h2> Table of Comparison Operators </h2><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

### Examples for equality

In [3]:
2 == 2

True

In [4]:
2 ==1

False

In [5]:
'hello' == 'bye'

False

In [6]:
'Bye' == 'bye' #python is case sensitive

False

In [8]:
'2' == 2 #as one is a string type and the other is a int type

False

In [9]:
2.0 == 2

True

### Examples for non equality

In [10]:
3 != 3

False

In [11]:
4 != 5

True

In [12]:
2 > 1

True

In [13]:
1 < 2

True

In [14]:
1 < 1.0

False

In [15]:
2 >= 2

True

In [16]:
4 >= 1

True

### Logical operators - Chaining comparision operations

We can use logical operators to combine comparisons
- **and** - Checks whats on my left true and whats on my right true
- **or**  -Checks whats on my left true or whats on my right true
- **not** - negates true to false and false to true

In [24]:
# Let us check a condition that will execute with two comparisons

In [25]:
1 <2

True

In [26]:
2>3

False

In [27]:
1 < 2 <3

True

In [28]:
1 < 2 > 3

False

In [29]:
1 < 2 and 2>3

False

In [30]:
1 < 2 and 2<3

True

In [31]:
('h' == 'h') and (2 == 2)

True

### OR operator

In [34]:
100 <= 1 or 2 == 2

True

### NOT operator

In [36]:
not (1 == 1)

False

In [37]:
not(400 > 5000)

True